<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Macieul's Coffee</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>
    <header>
        <div id="content">
            <div class="ui grid container" id="menu">
                <div class="twelve wide column">
                    <h1>Macieul's Kitchen</h1>
                </div>
                <div class="four wide column right">
                    <div class="ui input">
                        <input type="text" placeholder="Search...">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="ui left demo vertical inverted sidebar visible icon menu">
            <div>
                <a href="/home.html" class="item">
                    <i class="home icon"></i>
                    Home
                </a>
                <a href="/listar.html" class="item">
                    <i class="cart icon"></i>
                    Produtos
                </a>
                <a href="/pesquisar.html" class="item">
                    <i class="search layout icon"></i>
                    Pesquisar
                </a>
                <a href="/adicionar.html" class="item">
                    <i class="plus icon"></i>
                    Adicionar
                </a>
                <a href="/editar.html" class="item">
                    <i class="edit icon"></i>
                    Editar
                </a>
            </div>
        </div>
    </main>
    <!-- <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script type="text/javascript" src="/js/cozinha/index.js"></script>
    <script type="text/javascript" src="/js/usuario/index.js"></script> -->
</body>
</html>
